* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
textarea,
button {
  border: none;
  outline: none;
  resize: none;
}
.wrapper {
  margin: 0 auto;
  background-color: #1f2223;
  width: 100%;
  height: 100vh;
  padding: 45px 43px;
}
.container {
  background-color: #000;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 40px 50px;
}
.content {
  max-width: 343px;
  height: 100%;
}
.form{
  &__input {
    height: 36px;
    background-color: #1f2223;
    padding: 0 12px;
    border-radius: 10px;
    width: 100%;
    color: #fff;
    font-family: 'GothamPro-Bold', sans-serif;
  }
  &__textarea {
    background-color: #1f2223;
    width: 100%;
    height: 120px;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
  }
  &__col {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    color: #fff;
    &-title {
      padding: 0 0 5px 12px;
    }
  }
}
.btn {
  width: 100%;
  height: 50px;
  background-color: #007aff;
  color: #fff;
  margin-bottom: 18px;
  border-radius: 8px;
  cursor: pointer;
  &:active{
    background-color: #3374ff;
  }
}
.palette{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.svg-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 86px;
  border-radius: 10px;
  background-color: #1f2223;
}
.upload__label{
  display: flex;
  flex-direction: column;
  width: 122px;
  height: 110px;
}
.upload-button{
  display: none;
}
.switch {
  display: flex;
  margin-bottom: 24px;
  color: #fff;
  &__form {
    margin-right: 38px;
    &:focus {
      border-bottom: 1px solid #fff;
      outline: none;
      box-sizing: border-box;
    }
    &-link{
      color: #fff;
      text-decoration: none;
    }
  }
}
.active{
  color: red;;
}